<div class="bar bar-header bar-balanced">
  <h1 class="title">bar-balanced</h1>
</div>


<ion-content class="has-header" class="padding">

	<form name="login-form">
		<div class="list text-center" style="padding-top:30px">
			<img src="./img/ionic.png" />	
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="账号">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="密码" ng-required>
		  </label>

		  <button class="button button-full button-positive" ui-sref="tab.dash">登录</button>
		</div>
	</form>
</ion-content>