<ion-view view-title="Status">
  <ion-content class="padding">
  
    <style type="text/css" media="screen">
      
    </style>
    <div class="list">
      <a class="item item-icon-left " href="#/tab/dash/orgs">
        <i class="icon ion-stats-bars positive"></i>
        对接数量
        <span class="badge badge-positive">35</span>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-help royal"></i>
        未开始
        <span class="badge badge-balanced">20</span>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-checkmark balanced"></i>
        对接完成
        <span class="badge badge-balanced">20</span>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-minus calm"></i>
        正在进行
        <span class="badge badge-calm">5</span>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-information  energized"></i>
        卡住
        <span class="badge badge-energized">5</span>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-close assertive"></i>
        逾期
        <span class="badge badge-assertive">5</span>
      </a>

    </div>
  </ion-content>
</ion-view>
