/* Empty. Add your own CSS if you like */
.timeline-message{
  border-color: #145fd7;
  background-color: #4a87ee;
  //background-image: linear-gradient(0deg, #145fd7, #145fd7 50%, transparent 50%);
  color: #fff;
}